<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-myplugin"
      version="1.0.0">
    <name>Rahmadi MyPlugin</name>
    <description>Rahmadi MyPlugin</description>
		<author>Rahmadi D</author>
    <license>Apache 2.0</license>

    <js-module src="www/myplugin.js" name="MyPlugin">
        <clobbers target="myplugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyPlugin">
            <param name="android-package" value="com.rahmadid.plugin.MyPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/MyPlugin.java" target-dir="src/com/rahmadid/plugin" />
    </platform>
</plugin>
